<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cantor.pruebamultiplayer">

    <!-- Permisos que necesitamos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- SI NO PONEMOS EL NOMBRE DE LA APLICACION TAMBIEN PETA -->
    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChooseRoomActivity"/>
        <activity android:name=".ChatRoomActivity" />
        <activity android:name=".MultiplayerActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".CreateLobbyActivity" />
        <activity android:name=".JoinLobbyActivity"></activity>
        <!-- ES MUY IMPORTANTE PONER ESTO!!! QUE SI NO NO FUNCIONA LEÑE!!! -->
        <!-- IT'S NOT WHO YOU ARE UNDERNEATH, BUT WHAT YOU DO THAT DEFINES YOU -->
        <service
            android:name="AllJoynService">
        </service>
    </application>

</manifest>
